
<h5 class="song-category-title mx-5 pt-4">Artists <small class="float-end"><a href="">View more <i class="bi bi-box-arrow-up-right"></i></a></small></h5>

<!-- start category area-->
<section class="pt-2 p-4 mx-5 d-flex justify-content-center" style="flex-wrap: wrap;">
    
    <!--song card start-->
    <div class="m-4" style="width: 200px;" *ngFor="let item of list">
        <div style="position: relative;">
            <img src="{{item.image}}" class="big-song-img img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">{{item.name}}</div>
            <small class="text-muted">{{item.description}}</small>
        </div>
    </div>
    <!--song card end-->
</section>
<!-- end category area-->
