
<h5 class="song-category-title mx-5 pt-4">Rock Music <small class="float-end"><a href="">View more <i class="bi bi-box-arrow-up-right"></i></a></small></h5>

<!-- start category area-->
<section class="pt-2 p-4 mx-5 d-flex justify-content-center" style="flex-wrap: wrap;">
    
    
    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/04.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">My love</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/05.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">East river dale</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/06.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Never coming home</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/07.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Bye bye baby</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/08.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Chicken run</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/09.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">End of the road</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/11.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Jail aint good</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/13.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Fix my bike</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    <!--song card start-->
    <div class="m-4" style="width: 200px;">
        <div style="position: relative;">
            <img src="assets/images/14.jpg" class="big-song-img rounded img-fluid" >
            <a href="#">
                <div class="big-song-hover " >
                    <i class="h1 bi bi-play"></i>
                </div>
            </a>
            </div>
        <div>
            <div class="lead text-white">Journey to the end</div>
            <small class="text-muted">Song description</small>
        </div>
    </div>
    <!--song card end-->

    

</section>
<!-- end category area-->