<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Song Name</label>
            <input type="text" class="form-control" id="exampleInputEmaill" aria-describedby="emailHel">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Song File</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Artist Name</label>
            <input type="email" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Album Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1 ">
        </div>

    </form>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" (click)="getmethod()" class="btn btn-primary">Add Music</button>
</div>
